@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
}
body{
    background:#000213
    /* #333541 */
}

@layer components {
    .profile {
      @apply mx-10 my-5;
    }
    .profile img {
      @apply w-14 h-12 object-cover rounded-full mr-4;
    }
    .profile h3 {
      @apply text-sm;
    }
    .profile p {
      @apply m-2 leading-snug ;
    }
  }
